@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
}

li, a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: black;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 3%;
}

.logo {
    cursor: pointer;
    background-color: transparent;
}

.links{
    list-style: none;
}

nav li {
    display: inline-block;
    padding: 0px 20px;
}

.links li a{
    transition: all 0.3s ease 0s;
}

.links li a:hover{
    color: rgb(127, 27, 209);
}

.header {
    box-shadow: 15px black;
    
}

.barra-pesquisa {
    background-color: white;
    width: 330px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 25px;
    margin-right: 60%;
}

input {
    width: 240px;
    border: none;
    outline: none;
    background: none;
    font-size: 16px;
}

.header {
    box-shadow: 4px 4px 20px gray;
    height: 15%;
}

.lista-card {
    display: flex;
    background-color: none;
    margin-top: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 350px;
    height: 400px;
    background-color: white;
    margin: 20px;
    border-radius: 15px;
}

.imagem-card {
    width: 80%;
    height: 350px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.card h1 {
    font-size: 1.2rem;
    font-family: "Montserrat";
    margin: 5px;
}

.card button {
    background-color: white;
    height: 30px;
    padding: 4px;
    width: 40%;
    font-size: 1rem;
    font-family: "Montserrat";
    border-radius: 15px;
    cursor: pointer;
    margin: 5px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    height: 100%;
}

.carrinho {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    font-family: "Montserrat";
    font-size: 30px;
    margin-bottom: 3%;
}

.aviso {
    width: 60%;
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
}

.aviso-mensagem {
    background-color: #efefef;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 15px;
}

.button {
    margin-right: 10px;
    background-color: black;
    height: 70%;
    width: 260px;
    font-size: 18px;
    font-family: "Montserrat";
    border-radius: 15px;
    cursor: pointer;
    color: white;
    border: none;
}

.mensagem {
    background-color: transparent;
    margin-right: 520px;
    font-size: 15px;
    font-family: "Montserrat";
    display: flex;
}